<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.infosys.hackathon.smartfert" >

    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="21"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme" >
        <activity
            android:name=".view.Login"
            android:windowSoftInputMode="stateHidden"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.Overview"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" ></activity>

        <activity android:name=".view.CaptureDetails"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" ></activity>

        <activity android:name=".view.FertliserMgmtDashActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" ></activity>

        <activity android:name=".view.SubsidyReport"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" ></activity>

        <activity android:name=".view.AboutSmartFert"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" ></activity>
    </application>

</manifest>
